<a href="https://colab.research.google.com/github/sandynayak007/Coursera_Capstone/blob/main/Week_3_Assignmet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [30]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

### Scrapping Wikipidia data for Toranto neighborhood

In [31]:
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
page=requests.get(url)
soup = BeautifulSoup(page.content,"html.parser")

In [32]:
table_contents=[]
table = soup.find("table")

### Updating the data into list

In [33]:
for row in table.findAll('td'):
    cell = {}
    if row.span.text=='Not assigned':
        pass
    else:
        cell['PostalCode'] = row.p.text[:3]
        cell['Borough'] = (row.span.text).split('(')[0]
        cell['Neighborhood'] = (((((row.span.text).split('(')[1]).strip(')')).replace(' /',',')).replace(')',' ')).strip(' ')
        table_contents.append(cell)

In [34]:
df=pd.DataFrame(table_contents)

### Checking Not assigned values in the Neighborhood

In [35]:
(df["Neighborhood"]=="Not assigned").value_counts()

False    103
Name: Neighborhood, dtype: int64

In [36]:
df.head()

  PostalCode           Borough                      Neighborhood
0        M3A        North York                         Parkwoods
1        M4A        North York                  Victoria Village
2        M5A  Downtown Toronto         Regent Park, Harbourfront
3        M6A        North York  Lawrence Manor, Lawrence Heights
4        M7A      Queen's Park     Ontario Provincial Government

In [37]:
df.shape

(103, 3)

### Loading coordinate data

In [38]:
url1 = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0701EN-SkillsNetwork/labs_v1/Geospatial_Coordinates.csv"

### Merging coordinate data with neighborhood data

In [40]:
df1=pd.read_csv(url1)
df1
df1.rename(columns={"Postal Code":"PostalCode"},inplace=True)
df3=[df,df1]
df_postal=pd.merge(df,df1,on="PostalCode")
df_postal

    PostalCode  ...  Longitude
0          M3A  ... -79.329656
1          M4A  ... -79.315572
2          M5A  ... -79.360636
3          M6A  ... -79.464763
4          M7A  ... -79.389494
..         ...  ...        ...
98         M8X  ... -79.506944
99         M4Y  ... -79.383160
100        M7Y  ... -79.321558
101        M8Y  ... -79.498509
102        M8Z  ... -79.520999

[103 rows x 5 columns]